# Mac
.DS_Store

# IDE
.idea/
.vscode/

# Maven build
target/

# Environment files
.env
*.env

# Logs
logs/
*/logs/

# Kubernetes secrets
k8s/my-secret.yml

# Application secrets
application-secret.yml
application-secret.properties
